# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment variables
.env

# Data
data/raw/
data/processed/
archive/
tests/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# IDE
.vscode/
.idea/